.menu {
  display: flex;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  font-size: 16px;
  color: white;
  background: black;
  position: fixed;
  z-index: 1;
  width: 100%; }

.pages {
  display: flex;
  justify-content: space-around; }

.nav {
  padding: 20px;
  color: white;
  text-decoration-line: none; }

.icon {
  padding-left: 30px;
  color: white; }
