.home {
  height: 100vh;
  background: black;
}

.home-container {
  top: 20px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  height: 50%;
  width: 100vw;
}

.item-container {
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100vw;
}

.item {
  border-radius: 100px;
  padding: 20px;
  width: 100px;
  margin: 10px 40px;
  height: 100px;
  background: #0b6b8a;
  background-size: cover;
  background-repeat: no-repeat;
  // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  &:hover {
    // box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
}

.logo-text {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/icons/logo-text.svg');
  width: 60%;
  margin: 90px auto 0px;
  height: 190px;
}

.icon-journal {
  background-image: url('../../assets/icons/journal.svg');
}

.icon-incident {
  background-image: url('../../assets/icons/incident.svg');
}

.icon-resources {
  background-image: url('../../assets/icons/resources.svg');
}
